*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}
body{
    font-family: font-family 'Work Sans', sans-serif;
}
.parant{
    background-color: aqua;
    }
    .container{
        width:600px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255);  
       } 
        /*small*/
       @media(min-width:768px){
        .container{
         width: 750px;   
        }
    }
       /*medium*/
       @media(min-width:992px){
        .container{
         width: 970px;   
        }
    }
       /*large*/
       @media(min-width:1200px){
        .container{
         width: 1170px;   
        }
    }
    .header{
       padding: 20px; 
    }
    .header.container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header.logo{
        width: 60px;
    }
    .header.links{
        position: relative;
    }
    .header.header.links.icon span :nth-child(2){
    width: 100%;
    }
    .header.links.icon{
       width:30px;
       display:flex;
       flex-wrap:wrap; 
    }
    .header.links.icon span{
        background-color: bisque;
        margin-bottom: 5px;
        height: 2px;
    }
    .header.header.links.icon span :first-child{
       width: 100%;
    }
    .header.header.links.icon span :nth-child(2){
        width: 100%;
        transition: 0,3s;
    }
    .header.header.links.icon span:last-child{
        width: 100%;
    }


    
    

